body {
    background-color: #283340; /* Black background color */
    text-align: center;
}

h1, h2, h3, text, p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #cccccc;
}

.text-normal {
    padding-top: 1.2rem;
    padding-bottom: 0.6rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    color: #cccccc;
}

.text-normal-dark {
    padding-top: 1.2rem;
    padding-bottom: 0.6rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    color: #283340;
}

.text-small {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #cccccc;
}


/* Containers */
.container-fluid {
    padding: 3% 15%;
}

/* Sections */
.color-section {
    background-color: #283340;

}

.white-section {
    background-color: white;
}

.red-section {
    background-color: #ff4c38;
    color: #fff;
}

/* Headings */
.big-heading {
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 1.5;
}

.small-heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #cccccc;
}

.small-heading-dark {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #283340;
}

.section-heading-bright {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #cccccc;
}

.section-heading-dark {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #283340;
}

/*Animal Animation*/
/* This is the controls for Animal*/
.animal {
    width: 1000px;
    position: absolute;
    top: 15%;
    left: -75%;
    transform-origin: bottom left;
}
/*Animal icon*/
.animal-icon {
    margin-top: 20px;
    fill: white;
    width: 50px;
    height:50px;
}

.human-icon {
    margin-top: 20px;
    fill: white;
    width: 60px;
    height:60px;
}

/* Title Section */
#title {
    color: rgba(244, 247, 249, 0.98);
    text-align: left;
    background-image: url("dalle_1.png");
    height: 100%;
    background-position: top;

    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20rem;

}

/* Title Image */
.title-image {
    width: 20%;
    transform: rotate(3deg);
    position: absolute;
    right: 20%;
    top: 3%;
}

/*Buttons*/

.btn-custom {
    height: 40px;
}

.btn-sm.btn-custom {
    height: 30px;
}



.possibly-sidebyside .one {
    float: left;
}

.sidebyside {
    white-space: nowrap;
}

.sidebyside div, .sidebyside svg {
    display: inline;

}

button, #speciesButton {
    background: #ff6352;
    height: 2rem;
}

svg {
    border: none;
}

svg text {
    /*text-anchor: middle;*/
}


hr {
    margin: 2em 0;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 120px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    visibility: hidden;
}



/*MAP*/

#humans, #europe, #europe_small {
    background: #ffffff;
    color: white;
}


#chart-title {
    font-size: 24px;
    text-anchor: start;
}

.countries {
    fill: #bbb;
}

.countries-new {
    fill: #ff653e;
}

.europe-boundary {
    fill: none;
    stroke: #cf892e;
    stroke-width: 0.01rem;
    stroke-linejoin: round;
}

.country-label {
    fill: #180909;
    fill-opacity: .5;
    font-size: 10px;
    font-weight: 300;
    text-anchor: middle;
}


#context-holder {
    fill: none;
    stroke: black;
}

#context-label{
    color: #1b313b;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.stop-left-human {
    stop-color: #fefefe;
}

.stop-right-human {
    stop-color: #00655e; /* Teal */
}

.stop-left-species {
    stop-color: #fefefe;
}

.stop-right-species {
    stop-color: #ff230a;
}

.filled-human {
    fill: url(#mainGradient);
}

.filled {
    fill: url(#mainGradientSpecies);
}

.red {
    color: red;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        top: 35%;
    }
}

/*treemap styles
text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: #fff;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}
*/

