body {
    text-align: center;
}

main {
    background-color: #0a1014; /* dark background color */
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}

section > #title {
    position: relative;
    z-index: 5;
}

.content {
    background: transparent;
    text-align: center;
    padding: 0 4%;
}

h2, h3, text, p {
    color: #efedea;
}

img {
    border-radius: 50%;
    width: 6rem;
    border: 2px solid white;
background-image: url('/img/labels/voegel.jpg');
}

.text-normal {
    padding-top: 1.2rem;
    padding-bottom: 0.6rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
}

.text-small > a, .text-small {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #355463;
}


/* Containers */
.container-fluid {
    padding: 0% 3%;
}

/* Sections */
.color-section {
    background-color: #0a1014;
}

.red-section {
    background-color: #ff4c38;
    color: #fff;
}

/* Headings */
.big-heading {
    font-size: 8rem;
    line-height: 1.5;
    color: #ffffff;
    filter: brightness(3);
    font-family: 'Shrikhand', cursive;
}

.small-heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #efedea;
}

.small-heading-dark {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #283340;
}

.section-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    color: #efedea;
}

.title-background {
    background-color: #0a1014;
    opacity: 0.8;
    color: #e70101 ;
    font-size: 3rem;
    line-height: 1.5;
    font-style: italic;
    padding: .3em .7em .2em .4em;
    display: inline;
    text-align: right;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.section-heading-dark {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #283340;
}

/*Animal Animation*/
/* This is the controls for Animal*/
.animal {
    width: 1000px;
    position: absolute;
    top: 15%;
    left: -75%;
    transform-origin: bottom left;
}

/*Animal icon*/
.animal-icon {
    margin-top: 20px;
    fill: white;
    width: 50px;
    height: 50px;
}

.human-icon {
    margin-top: 20px;
    fill: white;
    width: 60px;
    height: 60px;
}

#footer {
    color: #efedea;
}

#legend {
    font-size: 1.1rem;
}

/* Title Section */
#title {
    text-align: center;
    background-image: url("eye.jpg");
    background-color: #142229;
    height-min: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
    -webkit-transition: opacity 350ms linear;
    -moz-transition: opacity 350ms linear;
    -ms-transition: opacity 350ms linear;
    -o-transition: opacity 350ms linear;
    transition: opacity 350ms linear;
    filter: brightness(0.8);
}

/* Title Image */
.title-image {
    width: 20%;
    transform: rotate(3deg);
    position: absolute;
    right: 20%;
    top: 3%;
}

/*Buttons*/

.btn-custom {
    height: 30px;
}

.btn-sm.btn-custom {
    height: 30px;
    color: #0a1014;
}

.possibly-sidebyside .one {
    float: left;
}

.sidebyside {
    white-space: nowrap;
}

.sidebyside div, .sidebyside svg {
    display: inline;
}

.custom-border {
    margin-top: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: #ddddde;
}

button, #speciesButton {
    color: #090f11;
}

svg {
    border: none;
}

hr {
    margin: 2em 0;
}


/*MAP*/

#humans, #europe {
    background: #0a1014;
    color: white;
}

#chart-title {
    font-size: 24px;
    text-anchor: start;
}

.europe-boundary {
    fill: transparent;
    stroke: #0a1014;
    stroke-width: 0.12rem;
    stroke-linejoin: round;
}

.country-label {
    fill: #efedea;
    fill-opacity: .5;
    font-size: 10px;
    font-weight: 300;
    text-anchor: middle;
}


#context-label {
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
}

.stop-left-human {
    stop-color: #F1E8CB;
}

.stop-right-human {
    stop-color: #03b9ad;
}

.stop-left-species {
    stop-color: #F1E8CB;
}

.stop-right-species {
    stop-color: #ff653e ;
}


.filled-human {
    fill: url(#mainGradient);
}

.filled {
    fill: url(#mainGradientSpecies);
}

.red {
    color: red;
}

@media (max-width: 1600px) {
    #title {
        text-align: right;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        top: 70%;
    }
}

@media (max-width: 1028px) {
    #title {
        text-align: left;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        top: 60%;
    }
}

.animal-select-button {
    stroke: beige;
    stroke-width: 2px;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    /*transition: transform 0.7s ease-in-out;*/
    opacity: 0.7;
}

.animal-select-button:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
}


/*treemap styles
text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: #fff;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}
*/


/*Scrollama*/

#scrolly {
    position: relative;
}

article {
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
    width: 70%;
    background-color: #0a1014;
}

.step {
    margin: 1rem auto 4rem auto;
    background-color: #3b3b3b;
    color: #fff;
    opacity: 0.0;
}

.step.is-active {
    background-color: transparent;
    color: #efedea;
    opacity: 1;
}

.step p, .step section {
    text-align: center;
    font-size: 1.5rem;
}


.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: #efedea;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


/*Quiz*/
 #result {
     background-color: #f0f0f0;
     padding: 10px;
     margin-bottom: 10px;
     fill: #0a1014;
 }
#options {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    fill: #f0f0f0;
}
#question {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    fill: #f0f0f0;
}


